.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('https://png.pngtree.com/thumb_back/fh260/back_our/20200630/ourmid/pngtree-hand-drawn-cartoon-cute-food-banner-background-image_342450.jpg') repeat; 
}

.login-container h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 1em;
}

.login-container input {
    margin-bottom: 1em;
    padding: 0.5em;
    font-size: 1em;
    border: none;
    border-radius: 5px;
}

.login-container button {
    padding: 0.5em 1em;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}